<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Serie B</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Lista de clubes da segundona 2016</h1>
  <table class="table table-condensed">
    <thead>
				<th>Nome</th>
				<th>Estado</th>
			</thead>
			<tbody>
				<tr>
					<td>Atlético Goianiense</td>
					<td>Goiás</td>
				</tr>
				<tr>
					<td>Avaí</td>
					<td>Santa Catarina</td>
				</tr>
				<tr>
					<td>Bahia</td>
					<td>Bahia</td>
				</tr>
				<tr>
					<td>Bragantino</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Brasil de Pelotas</td>
					<td>Rio Grande do Sul</td>
				</tr>
				<tr>
					<td>Ceará</td>
					<td>Ceará</td>
				</tr>
				<tr>
					<td>CRB</td>
					<td>Alagoas</td>
				</tr>
				<tr>
					<td>Criciúma</td>
					<td>Santa Catarina</td>
				</tr>
				<tr>
					<td>Goiás</td>
					<td>Goiás</td>
				</tr>
				<tr>
					<td>Joinvile</td>
					<td>Santa Catarina</td>
				</tr>
				<tr>
					<td>Londrina</td>
					<td>Paraná</td>
				</tr>
				<tr>
					<td>Luverdense</td>
					<td>Mato Grosso</td>
				</tr>
				<tr>
					<td>Náutico</td>
					<td>Pernambuco</td>
				</tr>
				<tr>
					<td>Oeste</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Paraná</td>
					<td>Curitiba</td>
				</tr>
				<tr>
					<td>Paysandu</td>
					<td>Pará</td>
				</tr>
				<tr>
					<td>Sampaio Corrêa</td>
					<td>Maranhão</td>
				</tr>
				<tr>
					<td>Tupi</td>
					<td>Minas Gerais</td>
				</tr>
				<tr>
					<td>Vasco da Gama</td>
					<td>Rio de Janeiro</td>
				</tr>
				<tr>
					<td>Vila Nova</td>
					<td>Goiás</td>
				</tr>
			<tbody>
		</table>
</div>

</body>
</html>
