<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Serie A</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Lista de clubes da primeirona 2016</h1>
  <table class="table table-condensed">
    <thead>
				<th>Nome</th>
				<th>Estado</th>
			</thead>
			<tbody>
				<tr>
					<td>América Mineiro</td>
					<td>Minas Gerais</td>
				</tr>
				<tr>
					<td>Atlético Mineiro</td>
					<td>Minas Gerais</td>
				</tr>
				<tr>
					<td>Atlético Paranaense</td>
					<td>Paraná</td>
				</tr>
				<tr>
					<td>Botafogo</td>
					<td>Rio de Janeiro</td>
				</tr>
				<tr>
					<td>Chapecoense</td>
					<td>Santa Catarina</td>
				</tr>
				<tr>
					<td>Corinthians</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Coritiba</td>
					<td>Paraná</td>
				</tr>
				<tr>
					<td>Cruzeiro</td>
					<td>Minas Gerais</td>
				</tr>
				<tr>
					<td>Figueirense</td>
					<td>Santa Catarina</td>
				</tr>
				<tr>
					<td>Flamengo</td>
					<td>Rio de Janeiro</td>
				</tr>
				<tr>
					<td>Fluminense</td>
					<td>Rio de Janeiro</td>
				</tr>
				<tr>
					<td>Grêmio</td>
					<td>Rio Grande do Sul</td>
				</tr>
				<tr>
					<td>Internacional</td>
					<td>Rio Grande do Sul</td>
				</tr>
				<tr>
					<td>Palmeiras</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Ponte Preta</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Santa Cruz</td>
					<td>Pernambuco</td>
				</tr>
				<tr>
					<td>Santos</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>São Paulo</td>
					<td>São Paulo</td>
				</tr>
				<tr>
					<td>Sport</td>
					<td>Pernambuco</td>
				</tr>
				<tr>
					<td>Vitória</td>
					<td>Bahia</td>
				</tr>
			<tbody>
		</table>
</div>

</body>
</html>
