<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Estados</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Lista de Estados</h1>
  <table class="table table-condensed">
    <thead>
				<th>ID</th>
				<th>Nome</th>
			</thead>
			<tbody>
				<% for(var i = 0; i < list.length; i++) { %>
					<tr>
						<td><%= list[i].id %></td>
						<td><%= list[i].nome %></td>
					</tr>
				<% } %>
			<tbody>
		</table>
</div>

</body>
</html>
